.catalyst{
    margin-left: 770px;
    margin-top: 80px;

}
section{
    position: relative;
    right:  100px;
}
.maya_account{
    /* border: 1px solid rgb(241, 240, 240); */
    text-align: center;
    width: 320px;
    height: 390px;
    position: absolute;
    left: 700px;
    padding-top: 15px;
    background-color: white;
   
}
h2{
    font-weight: 200;
}

input{
    padding: 10px;
    width: 260px;
}
.btn2{
    padding:10px 80px;
    font-size: 15px;
    font-weight: 600;
    background-color: yellow;
    border: none;
}
.login{
    text-decoration: none;
    
}
#check{
    position: relative;
    right: 122px;
}
.logged{
    position: relative;
    bottom: 18px;
    right: 40px;
    color: rgb(148, 146, 146);
}
footer{
    margin-top: 600px;
}
.home1{
    text-decoration: none;
    font-size: 21px;
    font-weight: 800;
    color: black;
    
}