section{
    margin-top: 140px;
    margin-left: 50px;
}
.home {
    margin-top: 40px;
    margin-left: 30px;
}
.home a{
    text-decoration: none;
    padding: 5px;
    color: black;
}
#search{
    padding: 20px;
    width: 1400px;
    font-size: 40px;
    border: none;
}
.search_icon{
    position: absolute;
    right: 150px;
    top: 200px;
}
.container{
    margin-top:100px;
    
    
}
.architect{
    border: 1px solid;
    width: 400px;
    height: 80px;
   display: flex;
   border: none;
   background-color: white;
}
.sriwi{
    margin-top: 10px;
    margin-left: 10px;
}
.recent{
    font-size: 40px;
    font-weight: 300;
    
}
.allsara{
    line-height: 10px;
}
.sara{
    font-weight: 300;
    color: rgb(99, 97, 97);
    padding-left: 10px;

}
.jark{
    padding-left: 10px;
    
}
.contenta{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
